<!--<p>TRAINING MODULE</p>-->
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/activities.js' %}" type="text/javascript"></script>
<div id="abc" style="display:none">
    <p>Editing mode</p>
    <form id = "select_doc_form" method = "post">{% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control password" name ="activity_id" id="activity_id" placeholder="activity_id" readonly>
        </div>
        <div class="form-group">
            <input type="text" class="form-control password" name ="user_activity" id="user_activity" placeholder="user_activity">
        </div>
        <input type="button" class="btn btn-primary" id="update" value="UPDATE">
    </form>
</div>

<div id="fixtures">
    <div class="row tableMain">
        <table  class="table table-condensed table-hover table-striped table-bordered dataTable " id="headerTable">
            <thead>
                <tr>
                    <th class="tabHead">Activity</th>
                    <th  class="tabHead" >Update</th>
                </tr>
            </thead>
            <tbody>
              {% for item in config_json.teamdata %}
                <tr>
                    <td>{{ item.activity}}</td>
                    <td>
                        <button type="submit" class="btn btn-info" id="add" onclick='add_activity("{{item.activity}}")'>ADD ACTIVITY</button>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>