<!--<p>TRAINING MODULE</p>-->
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/activities.js' %}" type="text/javascript"></script>
<div id="abc" style="display:none">
    <p>Editing mode</p>
    <form id = "select_doc_form" method = "post">{% csrf_token %}
<div class="form-group">
        <input type="text" class="form-control password" name ="activity_id" id="activity_id" placeholder="activity_id" readonly>
    </div>

    <div class="form-group">
        <input type="text" class="form-control password" name ="user_activity" id="user_activity" placeholder="user_activity">
    </div>
<!--    <div class="form-group">-->
<!--        <input type="text" class="form-control password" name ="venue" id="venue" placeholder="venue" readonly>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <input type="text" class="form-control password" name ="date_of_match" id="date_of_match" placeholder="date_of_match" readonly>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <input type="text" class="form-control password" name ="winner_name" id="winner_name" placeholder="winner_name">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <input type="text" class="form-control password" name ="winner_score" id="winner_score" placeholder="winner_score">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <input type="text" class="form-control password" name ="loser_score" id="loser_score" placeholder="loser_score">-->
<!--    </div>-->



    <input type="button" class="btn btn-primary" id="update" value="UPDATE">
</form>
</div>

<div id="fixtures">
<div class="row tableMain">
    <table  class="table table-condensed table-hover table-striped table-bordered dataTable " id="headerTable">
                        <thead>
                            <tr>
                                <th class="tabHead">Activity ID</th>
                                <th class="tabHead">User Name</th>
                                <th class="tabHead">User type</th>
                                <th  class="tabHead" >Activities</th>
<!--                                <th  class="tabHead" >Books_count</th>-->
                                <th  class="tabHead" >Update</th>
<!--                                <th  class="tabHead" >Delete</th>-->
                            </tr>
                        </thead>
                        <tbody>
                          {% for item in config_json.teamdata %}
                            <tr>
                                <td>{{ item.activity_id}}</td>
                                <td>{{ item.user_name}}</td>
                                <td>{{ item.user_type}}</td>
                                <td>{{ item.user_activity }}</td>
<!--                                <td>{{ item.books_count}}</td>-->
<!--                                <td>{{ item.players }}</td>-->
                                <td>
                                    <button type="submit" class="btn btn-info" id="edit" onclick='editresult({{item.activity_id}},"{{item.user_activity}}")'>UPDATE ACTIVITY</button>
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
<!--    <table  class="table table-condensed table-hover table-striped table-bordered dataTable " id="traingdataset">-->
<!--        <thead>-->
<!--        <tr>-->

<!--            <th  class="tabHead" >id</th>-->
<!--            <th  class="tabHead" >teams ids</th>-->
<!--            <th  class="tabHead" >venue</th>-->
<!--            <th  class="tabHead">date</th>-->
<!--            <th  class="tabHead">winner_name</th>-->
<!--            <th  class="tabHead">winner_score</th>-->
<!--            <th  class="tabHead">loser_score</th>-->
<!--            <th  class="tabHead">edit result</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            {% for item in config_json.trainData %}-->
<!--            <tr>-->

<!--                <td>{{ item.id }}</td>-->
<!--                <td>{{ item.teams }}</td>-->
<!--                <td>{{ item.venue }}</td>-->
<!--                <td>{{ item.date }}</td>-->
<!--                <td>{{ item.winner_name }}</td>-->
<!--                <td>{{ item.winner_score }}</td>-->
<!--                <td>{{ item.loser_score }}</td>-->
<!--                <td><button type="submit" class="btn btn-info" id="edit" onclick="editresult({{item.id}},'{{ item.teams }}','{{ item.venue }}','{{ item.date }}','{{ item.winner_name }}','{{ item.winner_score }}','{{ item.loser_score }}')">EDIT</button></td>-->
<!--            </tr>-->
<!--            {% endfor %}-->
<!--        </tbody>-->
<!--    </table>-->
</div>
</div>